body{
	background-color: #F6F5F2;
}
code{
    font-family: courier;
    font-size: 15px;
}
div#navbar{
	background-color: #D3D3D3;
	height: 90px;
	position: fixed;
	left:0px;
	top: 0px;
	padding-left: 20px;
	padding-top: 10px;
}
div.codeDiv{
	padding-left: 10px;
	border-radius: 5px;
	overflow: auto;
	background-color: #D3D3D3;
}
